<!DOCTYPE html>
<html lang="es">
<head>
    <%- include(info_pagina.subir_a_raiz + '_frags/links&metas') %>
    <link rel="stylesheet" href="/css/productos.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.5.1/jscolor.min.js"></script>
</head>
<body>
    <%- include(info_pagina.subir_a_raiz + '_frags/header') %>

    <div class="contenedor-principal">

        <form action="/upload-imgs" method="post" enctype="multipart/form-data">
            <input type="file" name="A" id="A" data-abc="123" multiple accept="image/*"/>
            <button type="submit">Upload</button>
        </form>

        <div class="contenedor">
            <% 
                let rnd = ()=>Math.floor(Math.random() * 256);
            %>
            <div id="label-A" data-jscolor="{value:'rgba(<%- rnd() %>,<%- rnd() %>,<%- rnd() %>,1)', previewSize:10}" style="width: 100px;height: 100px;border-radius: 50%;display: inline-flex;justify-content: center;align-items: center;">
                Color
            </div>
            <div class="previsualizaciones">
                
            </div>
            <label for="A" class="label-agregar-fotos">
                <i class="fa-solid fa-camera"></i>
            </label>
        </div>

    </div>

    <%- include(info_pagina.subir_a_raiz + '_frags/footer') %>

    <script>
         let A = document.getElementById('A');
         A.addEventListener('change', (e)=>{
                let input = e.target;

                let previsualizaciones = document.querySelector('.previsualizaciones');
                previsualizaciones.innerHTML = '';
                let archivos = input.files;
                for(let i = 0; i < archivos.length; i++){
                    let archivo = archivos[i];
                    let url = URL.createObjectURL(archivo);
                    let div = document.createElement('div');
                    div.style.backgroundImage = `url(${url})`;
                    div.classList.add('miniatura');

                    let div_mover = document.createElement('div');
                    div_mover.classList.add('mover');
                    div_mover.innerHTML = '<i class="fa-solid fa-grip"></i>';
                    div.appendChild(div_mover);

                    div_eliminar = document.createElement('div');
                    div_eliminar.classList.add('eliminar');
                    div_eliminar.innerHTML = '<i class="fa-solid fa-circle-xmark"></i>';
                    div.appendChild(div_eliminar);

                    div_eliminar.addEventListener('click', (evnt)=>{
                        const dt = new DataTransfer();
                        [...archivos].forEach(element => {
                            if(element != archivo){
                                dt.items.add(element)
                            }
                        });
                        input.files = dt.files;
                        div.remove();
                    });

                    previsualizaciones.appendChild(div);
                }
         });
    </script>
</body>
</html>