<!DOCTYPE html>
<html lang="es">
<head>
    <%- include(info_pagina.subir_a_raiz + '_frags/links&metas') %>
    <link rel="stylesheet" href="/css/productos.css">
</head>
<body>
    <%- include(info_pagina.subir_a_raiz + '_frags/header') %>

    <div style="text-align: center;" class="contenedor-principal">
        <div class="btn dodgerblue" onclick="crearProducto();">
            Crear nuevo producto <i class="fa-solid fa-circle-plus"></i>
        </div>
        <hr>
        <h1 style="color: white;">
            Productos
        </h1>
        <br>
        <%- include(info_pagina.subir_a_raiz + '_frags/todos-los-productos.ejs', {
            inicio: -1,
            fin: -1,
            ordenamiento: "alfabetico"
        }) %>

        <div class="producto-nuevo">
            <%- include(info_pagina.subir_a_raiz + 'producto-nuevo.ejs') %>
        </div>
    </div>

    <script>
        let producto_nuevo = document.querySelector(".producto-nuevo");
        let producto_nuevo_html = producto_nuevo.innerHTML;
        producto_nuevo.outerHTML = "";
        producto_nuevo.remove();

        function crearProducto() {
            swal.fire({
                title: "Nuevo producto",
                html: "<div> </div>",
                width: "90%",
                showConfirmButton: false,
                didOpen: () => {
                    let div = document.createElement("div");
                    div.innerHTML = producto_nuevo_html;
                    let container = document.querySelector(".swal2-html-container");
                    container.appendChild(div);

                    iniciar_captura_producto_nuevo();

                }
            })
        }
    </script>


    <%- include(info_pagina.subir_a_raiz + '_frags/footer') %>
</body>
</html>